<div class="container">
  <div class="row">
    <div class="col-md-3">
      <nav class="nav">
        <ul class="nav-justified">
          <li class="nav-item">Categories</li>
          <li class="nav-item">Ajouter une categorie</li>
          <li class="nav-item">Autres</li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <section class="">
        <article class="card">
          Article 1
        </article>
        <article class="card">
          Article 1
        </article>
        <article class="card">
          Article 1
        </article>
      </section>
    </div>
  </div>
</div>
